button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 1000px;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1.1875rem 2rem 1.0625rem 2rem;
  font-size: 0.875rem;
  background-color: #ff8300;
  color: #FFFFFF;
  transition: all 300ms ease-out;
  text-shadow: 0px 2px 0px #E57500;
  box-shadow: 0px 4px 0px 0px #E57500;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #E57500;
  box-shadow: 0px 4px 0px 0px #B25B00;
  text-shadow: 0px 2px 0px #B25B00;
}
button:hover, button:focus, .button:hover, .button:focus {
  color: #eeeeee;
}
button.secondary, .button.secondary {
  background-color: #55565A;
  text-shadow: 0px 2px 0px #444448;
  box-shadow: 0px 4px 0px 0px #444448;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #444448;
  box-shadow: 0px 4px 0px 0px #231F20;
  text-shadow: 0px 2px 0px #231F20;
}

button.ghost, .button.ghost {
  background-color:transparent;
  border:2px solid #ff8300;
  color:#ff8300;
  text-shadow: none;
  box-shadow: none;
}

button.ghost:hover, .button.ghost:hover {
  background-color:#ff8300;
  border:2px solid #ff8300;
  color:white;
}

button.expand, .button.expand {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75rem;
}
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75rem;
}


button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@media only screen and (min-width: 40.0625em) {
  button, .button {
    display: inline-block;
  }
}
