header {
background-color: white;
height:5em;
}

header h1.logo {
  margin-top:17px;
  display: inline-block;
}

nav span a {
  margin-top:1em;
  display: inline-block;
  float:right;
  height:48px;
  width:48px;
  background-color: #ff8300;
  border-radius: 100%;

}

nav ul {
  display: none;
}

@media only screen and (min-width: 58.75em) {

nav span a {
  height:0;
  width:0;
}

nav ul {
  display: inline;
}

header {
  height:7.5em;
}

header h1.logo {

  margin:23px 0 0 0;
}

nav ul.inline-list {
margin:35px 0 0 0;
}

nav ul li {
  line-height:54px;

}

nav .button {
margin-bottom: 0;
}

nav {
height:3.75em
line-height:3.75em;
}

nav ul li a {
  color:#ff8300;
  font-size:0.875rem;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

nav ul li a:hover {
  color:#E57500;
}

nav ul li.active a {
  color:#55565A;
}

}
